@keyframes moveInLeft {
  0% {
    opacity: 0;

    /* This is for the moment animation appears on the page */
    /* transform: translateX(-100px) rotate(180deg); */
    transform: translateX(-10rem) rotate(180deg);
  }
  60% {
    transform: rotate(180deg);
  }
  80% {
    /* transform: translateX(10px); */
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;

    /* This is for the moment animation appears on the page */
    /* transform: translateX(100px); */
    transform: translateX(10rem);
  }
  80% {
    /* transform: translateX(-10px); */
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;

    /* This is for the moment animation appears on the page */
    /* transform: translateY(100px); */
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
